.header {
    .logo {
        float: left;
        width: 64px;
        height: 64px;
        background-image: url("@/assets/Assan.png");
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 24px;
    }
}

.body {
    margin-left: 16px;
    margin-top: 8px;
    padding: 8px;
    border-radius: 8px;
    width: calc(100% - 32px);
    background-color: #fff;
}
